@media (max-width:420px) {
    /* BLOCCO LEZIONI */
    #lezioni .row {
        background-color: #F2F2CD;
    }

    #lezioni .row>.left,
    #lezioni .row>.right {
        width: 100%;
        float: none;
        font-size: 0.76em;
    }

    /* BLOCCO STEPS */
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        float: none;
        width: 100%;
        font-size: 0.76em;
    }

    /* BLOCCO PERCHE */
    #why .row {
        background-color: #F2F2CD;
    }
    
    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
        width: 100%;
        font-size: 0.76em;
        margin: 0;
    }



    /* COMMON */
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    .row {
        max-width: 420px;
        padding: 8px 8px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
      
    .row::after {
        display: none;
    }

    .row>h1 {
        font-size: 1.5em;
    }
    
    img {
        height: 80px;
    }

    
    



    
}